@font-face {
    font-family: droid;
    src: url(./fontes/idroid.otf) format('opentype');
}



* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #70be7079;
}

header {
    background-image: linear-gradient(to bottom, green, white);
    padding: 50px 0 10px;
   
}
header h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-variant: small-caps;
    text-align: center;
}

header p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin-top:3px ;
    text-align: center;
}


nav {
    margin: 17px 0 0;  
}

nav a {
    padding: 4px 8px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

 a:hover {
    background-color: rgba(255, 255, 255, 0.527);
    border-radius: 7px;
    color: black;
    font-weight: 900;
   
}



main {
    max-width: 900px;
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 3px 12px #0000002e;
}

main h1 {
    font-family: droid;
    color: green;

    
}

main p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 15px;
    text-align: justify;
    text-indent: 20px;
  
}

.imagem h2 {
    font-family: droid;
    background-image: linear-gradient(to right, rgba(0, 128, 0, 0.452), white);
    padding-left: 10px;
    margin-top: 15px;
    color: rgba(0, 128, 0, 0.774);
    
}

.imagem img {
    display: block;
    margin: auto;
    width: 100%;
    
}

.imagem1 h2 {
    font-family: droid;
    background-image: linear-gradient(to right, rgba(0, 128, 0, 0.452), white);
    padding-left: 10px;
    margin-top: 15px;
    color: rgba(0, 128, 0, 0.774);

}

.imagem1 img {
    display: block;
    margin: auto;
    margin-top: 15px;
    width: 100%;
}

.imagem2 img{
    margin: auto;
    display: block;
    margin-top: 15px;
   
}

.video iframe{
    margin: auto;
    display: block;
    margin-top: 17px;
    width: 98%;
    border: 7px solid rgb(40, 146, 63);
    border-radius: 5px;
}

.tabela {
    background-color: rgba(60, 151, 60, 0.253);
    border-radius: 10px;
    margin-top: 20px;
}

.tabela h3 {
    background-color: rgba(9, 143, 9, 0.705);
    padding: 10px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px 10px 0 0 ;
    
}

.tabela p {
    text-align: justify;
    margin: 10px 10px;
    padding: 20px;
}

.tabela ul {
    columns: 2;
}

.tabela li {
    list-style: none;
    margin-left: 20px;
    line-height: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
}

footer {
    text-align: center;
    background-color: rgb(16, 65, 16);
    margin: auto;
    padding: 6px;
    margin-top: 10px;
}

footer p {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a.creditos{
    color: white;
}












